html, body {
  height: 100%;
  width: 100%;
  display: flex;
}
h1 {
  color: #49009E;
}
label{
  color: #49009E;
  font-weight: bold;
}

#root {
  display: flex;
  flex: 1;
  width: 100%;
}

.fullContainer {
  display: flex;
  flex: 100%;
  flex:1;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.leftContainer {
  background-color: #00A9D7;
  height: 100%;
}

.rightContainer {
  width: 100%;
  display: flex;
  flex: 1;
  overflow-y: scroll;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.SignUpContainer{
  display: flex;
  flex-flow: column;
  background-color: #00A9D7;
  width: 500px;
  margin: auto;
  padding: 15px;
  /* margin-top: 50px;
  padding-right: 50px;
  margin-left: 150px; */
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  font-size: 18px;
}
/* styling for login page */
a{
  font-style: italic;
  color: #49009E;
}
.LoginContainer{
  display: flex;
  flex-flow: column;
  background-color: #00A9D7;
  width: 400px;
  height: 490px;
  margin: auto;
  padding: 15px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  font-size: 18px;
}
.beamLogo{
  width: 150px;
  height: 150px;
}
#loginError{
  color: red;
  font-size: 16px;
  visibility: hidden;
}
#loginReqs{
  margin-right: auto;
}
#loginInput, #forgotInput, #resetInput, #signupInput{
  width: 90%;
}
.ForgotContainer{
  display: flex;
  flex-flow: column;
  background-color: #00A9D7;
  margin: auto;
  padding: 15px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  font-size: 18px;
}
.resetButton{
  background-color: #49009E;
  color: white;
  border-radius: 5px;
  width: 200px;
}

.layout{
  display: flex;
  flex-flow: row;
}

.layoutItem{
  flex-grow: 2;
}

.inputItem{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.submitButton{
  margin-left: 15px;
}
/* styling for the home page */
.homeContainer{
  width: 100%;
  padding: 20px;
}
.adminButton{
  background-color: #49009E;
  font-size: 17px;
  color: white;
  width: 80px;
  border-radius: 5px;
  border: none;
  padding: 5px;
}
/*styling for page option */
.optionContainer{
  padding: 15px;
}
.pageOptionContainer{
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  height: 125px;
  box-shadow: 3px 3px 3px #dacceb;
}
.publishedHeaderContainer{
  display: flex;
  justify-content: space-between;
}
.link {
  text-decoration: none;
  color:black;
}
.pageHeaderContainer{
  display: flex;
  justify-content: space-between;
}
.leftPageHeaderContainer{
  font-weight: bold;
}
.rightPageHeaderContainer{
  font-weight: lighter;
  font-style: italic;
}
.pageSummaryContainer p{
  overflow: hidden;
  line-height: 1.2em;
  max-height: 3.6em;
  text-overflow: -o-ellipsis-lastline;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* styling for published page */
.publishedPageContainer{
  padding: 20px;
}
.publishedPageContainer h1{
  text-align: center;
}
.publishedPageHeaderContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 100%;
}
.publishedPageTopInformation{
  display: flex;
  flex-direction: column;
  min-width: 100%;
}
#changeFont{
  color: #49009E;
  font-weight: 700;
}
.publishedPageHeaderContainer p{
  min-width: 150px;
}
.pubishedPageBodyContainer{
  margin: auto;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: solid;
  border-width: 1px;
  border-radius: 15px;
  margin-top: 10px;
  padding: 10px;
  box-shadow: 5px 5px 3px #dacceb;
  /* align-items: center; */
  max-width: 90%;
}
/* styling for the navigation bar / menu */
ul {
  list-style-type: none;
  padding: 30px;
}
.navButton{
  background-color: white;
  border-radius: 5px;
  font-size: 20px;
  color: #49009E;
  border: none;
  width: 160px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 3px 3px 5px #cdbae4;
  /* box-shadow: 3px 3px 5px #dacceb; dacceb */
}

.navButton:hover, .navButton:focus{
  background-color: #49009E;
  color: white;
}
.navButton:active {
  background-color: #49009E;
  box-shadow: 3px 3px 5px #7080bf;
  transform: translateY(3px);
}

/* styling for search page */
.searchContainer {
  width: 100%;
  padding: 20px;
}
.searchBarContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px 10px 10px 20px;
}
.searchButton, .saveButton, .submitButton, .addButton{
  color: white;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  padding: 5px 12px;
  background-color: #49009E;
}

input{
  border-style:none;
  border-radius: 3px;
  width: 100%;
  padding: 12px 20px;
  font-size: 18px;
  margin-top: 5px;
}

 #searchBar {
  border-color: black;
  border-style: solid;
  border-radius: 8px;
  border-width: 1px;
  font-size: 16px;
  padding: 4px 10px;
  margin-right: 10px;
  margin-left: 10px;
  width: 60%;
}
.allDropDownContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

/*
 * NEEDED IN CASE DROPDOWN HAS TOO MANY OPTIONS
 */

.ddMenu {
  max-height: 150px;
  overflow: scroll;
}
.sortContainer {
  display: flex;
  flex-direction: row;
  padding-left: 40px;
  flex-wrap: wrap;
}
.menuContainer{
  display: flex;
  flex-flow: column;
  height: 100%;
  flex-grow: 1;
  overflow-y: auto;
  justify-content: space-between;
}
.logoutButton{
  font-size: 20px;
  padding: 10px;
  background-color: white;
  color: #00A9D7;
  margin-bottom: 30px;
  margin-left: 25px;
  border-radius: 5px;
  border: none;
  width: 160px;
  height: 50px;
  box-shadow: 3px 3px 5px #d7f6ff;
}
.logoutButton:hover, .logoutButton:focus {
  background-color: #3ad5ff;
  color: white;
}
.logoutButton:active{
  transform: translateY(3px);
}
/* styling for the new lesson page */
.newPageContainer{
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  padding: 20px;
}
.headerTextContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.headerDropDownContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  flex-wrap: wrap;
}
.inputContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
}
textarea {
  font-size: 14px;
  width: 270px;
  height: 120px;
  border-radius: 5px;
  padding: 8px;
}
.smallBox{
  padding: 20px;
  width: 29%;
}
.shortBox{
  font-size: 14px;
  width: 80%;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
}
.box{
  flex:1;
  width: 50%;
  padding: 20px;
}
.footerContainer{
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.userMessage{
  color: green;
  font-size: 18px;
}
.asterisk{
  color: red;
  visibility: hidden;
}
#missingFieldMessage{
  color: red;
  /* text-align: center; */
  visibility: hidden;
}
/* styling for the admin page */
.userSpacing{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
.AdminContainer {
  padding: 20px;
}
.UserOptionContainer{
  background-color: #f9f6fc;
  border: solid #49009E;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
  width: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
}
/* .userInfo{
  display: flex;
  justify-content: space-between;
} */
.userName{
  color: #49009E;
  font-weight: 450;
}
.userEmail{
  font-style: italic;
}
.userButtons{
  display: flex;
  justify-content: space-around;
  padding: 5px;
}
.verifyButton, .updateButton{
  background-color: #49009E;
  font-size: 17px;
  color: white;
  width: 80px;
  border-radius: 5px;
  border: none;
  padding: 5px;
}
